In [1]:
import pandas as pd

In [2]:
wallet_edge = pd.read_csv('data/AddrAddr_edgelist.csv')
ad_tx = pd.read_csv('data/AddrTx_edgelist.csv')
tx_ad = pd.read_csv('data/TxAddr_edgelist.csv')
tx = pd.read_csv('data/txs_features.csv')
tx_c = pd.read_csv('data/txs_classes.csv')
tx_e = pd.read_csv('data/txs_edgelist.csv')
tx = pd.merge(tx,tx_c,on='txId',how='left')
del tx_c

In [4]:
wallet = pd.read_csv('data/wallets_features_classes_combined.csv')

In [32]:
ex_wallet = '129V7Lh3jczcY5GDCKLWFwEwhYBrAz84jf'

In [53]:
up = wallet_edge[wallet_edge['output_address'].isin(id_list)]
a = wallet[wallet['address'].isin(up.input_address.tolist())][['address','class']].drop_duplicates().rename(columns={'address':'id'})
up

                            input_address                      output_address
2882   1JhzWcc1Y9t1AcYuY7Px8nmVuv2yvDikyr  17Akhagbr3iz9jZQDPgNmr1kkRW3NNf8EW
2884   1MFtuDeLSYNg87QJ8BUDoryT3uzVdCGykW  17Akhagbr3iz9jZQDPgNmr1kkRW3NNf8EW
2885   1MFtuDeLSYNg87QJ8BUDoryT3uzVdCGykW  1EzU1fYBuvmbRSPe7hNMa8ymbaXrZxvJu1
2886   14aNFHb9Fso6UCX5NQyFAAY5PQMib32GSL  17Akhagbr3iz9jZQDPgNmr1kkRW3NNf8EW
2887   14aNFHb9Fso6UCX5NQyFAAY5PQMib32GSL  1EzU1fYBuvmbRSPe7hNMa8ymbaXrZxvJu1
...                                   ...                                 ...
17288   1py1zBpExURA1Ex1rGsvRBBfHn2vqE5C5  17Akhagbr3iz9jZQDPgNmr1kkRW3NNf8EW
17290  1NNBzBx2JAWbbU3YCXG6tyyaiFGpMtaixd  17Akhagbr3iz9jZQDPgNmr1kkRW3NNf8EW
17296  1PnFCmttXS4ePoZWk2bpJVnXSiBbo4Pta8  17Akhagbr3iz9jZQDPgNmr1kkRW3NNf8EW
17298  1LAUTefV7YqkhtrsqqZB8KATZg6bbNiRdH  17Akhagbr3iz9jZQDPgNmr1kkRW3NNf8EW
17309  19fa5F6wARWNgiHzxpPdEqwN1PGng1mDfR  17Akhagbr3iz9jZQDPgNmr1kkRW3NNf8EW

[5772 rows x 2 columns]

In [56]:
up.rename(columns={'input_address':'Source','output_address':'Target'}).to_csv('act_e.csv',index=False)

In [41]:
#wallet[wallet.address.isin(wallet_edge[wallet_edge['input_address']==ex_wallet].output_address.tolist())].drop_duplicates()
id_list = wallet_edge[wallet_edge['input_address']==ex_wallet].output_address.tolist()
a = wallet[wallet['address'].isin(id_list)][['address','class']].drop_duplicates().rename(columns={'address':'id'})
a

                                        id  class
247284  17Akhagbr3iz9jZQDPgNmr1kkRW3NNf8EW      3
616211  1EzU1fYBuvmbRSPe7hNMa8ymbaXrZxvJu1      2
687798  1GVY1GJZLKXyBHjkLVitVNKxuwu6sY2jbt      2

In [54]:
a

                                         id  class
373      112RBTSkPcQuD4VWNKZL3PCDiAyFY1Zdz3      2
445      112VZQfUcpZsUezWbPN14ryiAnKC7FSZpv      2
527      112dPgvEt4Vjo8gvycmBU7efZZiKdP3TMi      2
683      112oYYB2pRt9nSz4jXs6Q39CyswkVL6CnC      2
1486     113o1wW3DHTJRmDqyshHcdAuHtgYJXo6Y4      2
...                                     ...    ...
1081065   1xdeVi5hwFXWrFXPGJTYkUBuf2uqLMom5      2
1081241   1xrL4KwztFTcNBfDVekR1rxLu6WYweUf3      2
1081599   1yMmC9QJfxejeZMRp7PVNrpthD5LhFJtA      2
1081638   1yPxtiJKX363xDU4ioKs7vqZneETxsXyK      2
1081695   1yVCpVobHexp9ecZZCDwxKkQiwgNEy9n2      2

[3577 rows x 2 columns]

In [55]:
a.to_csv('viz_wallet.csv',index=False )

In [31]:
wallet[wallet['address']=='129V7Lh3jczcY5GDCKLWFwEwhYBrAz84jf'][['address','class']].drop_duplicates().rename(columns={'address':'id'}).to_csv('viz_wallet.csv',index=False )

In [66]:
tx_list = tx_ad[tx_ad['output_address'] == ex_wallet].txId
tx[tx.txId.isin(tx_list)][['class','txId']].rename(columns={'txId':'Id'}).to_csv('viz_tx.csv',index=False)

In [69]:
tx_ad[tx_ad['output_address'] == ex_wallet].rename(columns={'output_address':'Target','txId':'Source'}).to_csv('ad_tx.csv',index=False)

In [ ]:
from_tx =tx_ad[tx_ad['output_address'] == ex_wallet].txId

In [22]:
txIds = tx[tx['Time step']==12][['txId','class']].drop_duplicates().txId

In [25]:
tx_e[tx_e['txId1'].isin(txIds)].to_csv('tx_e.csv',index=False)
# tx_e[tx_e['txId1'].isin(txIds)].to_csv('tx_e.csv',index=False )
# tx_ad[tx_ad['txId'].isin(txIds)].to_csv('tx_ad.csv',index=False )